################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Control-IO/.vs/Control-IO/v15/Server/sqlite3
